@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 23px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    background-color: #FFFFFF;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

}

.top img {
    height: 53px;
    width: 75px;
}

.top ion-icon {
    font-size: 42px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 23px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    background-color: #FFFFFF;
    height: 80px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;

}

.bottom ion-icon {
    font-size: 30px;
}

.bottom input {
    border: none;
    height: 30px;
    width: 250px;
    font-size: 18px;
    font-weight: 400;
}


.bottom ::placeholder {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}

.message-field {
    margin: 90px 0 90px 0;
}

.user-message {
    display: flex;
    align-items: center;

    width: 100vw;
    min-height: 40px;
    border-radius: 2px;
    margin: 4px 0 4px 0;
    background-color: #FFFFFF;
    font-size: 14px;
    flex-wrap: wrap;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.time {
    font-size: 14px;
    margin: 0 4px 0 8px;
    font-weight: 400;
    color: #AAAAAA;
}

.bold {

    font-size: 14px;
    margin: 0 4px 0 4px;
    font-weight: 700;
}